.counselling_bg4{ 
    display: flex;
}
.counselor-card2 {
    width: 35%;
    margin-left: 5%;
    height: auto;
    margin-bottom: 5%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}
.counselor-card2 h3{
    font-family: Hammersmith One;
    text-align: center;
    color: rgb(204, 128, 29);
}
.counselor-image2 {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.counselor-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.booking-section {
    width: 35%;
    height: auto;
    margin-right: 5%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 63px;
}

.booking-section h1 {
    color: #6d6666;
    font-family: Hammersmith One;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.form-group select{
    width: 100%;
    margin-left: 0%;
}
.sessionButton{
    background-color: rgba(204, 128, 29, 0.927);
    margin-left: 33%;
}




@media screen and (max-width: 992px) {
    .counselor-card2, .booking-section {
        width: 70%; /* Adjusted width for smaller screens */
    }

    .sessionButton {
        margin-left: auto; /* Centers the button */
        margin-right: auto;
        display: block;
        width: 50%; /* Adjust button width */
    }
    .counselor-card2{
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .counselor-card2, .booking-section {
        width: 90%; /* Adjusted width for small screens */
        margin: 5% auto; 
    }
    .counselor-card2{
        margin-right: 5px;
    }
    .counselor-image2 {
        width: 80%; /* Adjusted image width for smaller screens */
    }

    .booking-section h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .sessionButton {
        width: 70%; /* Adjust button width */
    }
}


@media screen and (max-width: 576px) {
    .counselor-info-container {
        flex-direction: column; /* Stack elements in a column */
        align-items: center; /* Center align the elements */
    }

    .counselor-card2, .booking-section {
        width: 90%; /* Full width for extra small screens */
        margin: 10px 0; /* Top and bottom margin */
    }

    .counselor-image2 {
        width: 100%; /* Full width image */
    }

    .booking-section h1 {
        font-size: 20px; /* Smaller font size */
    }

    .sessionButton {
        width: 90%; /* Adjust button width */
        margin: 10px auto; /* Center the button */
    }
}