.counselorRequests{
    font-family: Goblin One;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}
.counselor-booking-heading {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(76, 76, 123);
    border-bottom: 2px solid black;
}

.counselor-booking-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: rgb(78, 77, 77);
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
}

.counselor-booking-list {
    margin-top: 60px;
}

.pending-status {
    color: rgb(196, 152, 69); /* Change color for pending status */
}

.approved-status {
    color: green; /* Change color for approved status */
}

.cancelled-status {
    color: red; /* Change color for cancelled status */
}
.accept-button{
    background-color: rgb(3, 97, 3);
    margin-right: 10px;
}
.reject-button{
    background-color: rgb(210, 26, 26);
}
.accept-button:hover{
    background-color: rgba(3, 97, 3, 0.477);
    margin-right: 10px;
}
.reject-button:hover{
    background-color: rgba(210, 26, 26, 0.541);
}
.FirstName{
    margin-left: 5%;
}
.FirstName2{
    margin-left: 3%;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .counselorRequests {
        font-size: 20px;
        margin-top: 30px;
    }
    .FirstName{
        margin-left: 0%;
    }
    .FirstName2{
        margin-left: 0%;
    }
    .counselor-booking-heading p{
        display: none;
    }
    .counselor-booking-heading,
    .counselor-booking-details {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .counselor-booking-heading {
        font-size: 18px;
    }

    .counselor-booking-details {
        font-size: 16px;
        margin-top: 10px;
    }

    .accept-button,
    .reject-button {
        width: 150%;
    }
    .arButtons{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .counselorRequests {
        font-size: 18px;
        margin-top: 20px;
    }

    .counselor-booking-heading,
    .counselor-booking-details {
        font-size: 14px;
        padding: 8px;
    }

    .accept-button,
    .reject-button {
        font-size: 14px;
        padding: 5px;
    }
}