*{
    box-sizing:border-box
}

body{
    margin: 0;
}

.CounselorNav_nav{
    background-color:#333;
    color:white;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    padding: 0 1rem;
    display: flex;
}
.CounselorNav_site-title{
    font-size: 2rem;
}
.CounselorNav_nav ul{
    padding: 1;
    margin: 2;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.CounselorNav_nav a{
    color:inherit;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
    text-decoration: none;

}
.CounselorNav_nav li.active{
    background-color: #555;

}
.CounselorNav_nav li:hover{
    background-color: #777;
    
}
.CounselorNav_trek{
    color: bisque;
}